In [1]:
print("my last python program")

my last python program

In [5]:
rakesh="my last python program"
print(rakesh)

my last python program

In [12]:
print("the sum of 5+2 is:",(5+2))
print("the difference of 5+2 is:",(5-2))
print(" 5*2 :",(5*2))
print("5**2:",(5**2))
print("5/2:",(5/2))
print("5//2:",(5//2))
print("")

the sum of 5+2 is: 7
the difference of 5+2 is: 3
 5*2 : 10
5**2: 25
5/2: 2.5
5//2: 2

In [15]:
name1='rakesh'
name2='mani'
print(name1+' '+name2)
print("%s %s %s" %("the god of cricket is",name1,name2 ))

rakesh mani
the god of cricket is rakesh mani

In [19]:
#this is personal info
'this my program.Race3 is a shit'

'this my program.Race3 is a shit'

In [40]:
#list:
a=[1,1,2,3]
print(a)
str=['rms',"rma",'pankah']
print(str)
print(str[2])
str[2] ='ravi'
print(str)
str.append(0)
print(str)
str.insert(2,"rahim")
print(str)
str.remove(0)
print(str)
del str[3]
print(str)

[1, 1, 2, 3]
['rms', 'rma', 'pankah']
pankah
['rms', 'rma', 'ravi']
['rms', 'rma', 'ravi', 0]
['rms', 'rma', 'rahim', 'ravi', 0]
['rms', 'rma', 'rahim', 'ravi']
['rms', 'rma', 'rahim']

print(str[0:3])

In [41]:
#list within  list
a=[1,2,3,4,56,]
b=[1,2,3,4,55,6]
c=(a,b)
print(c)

([1, 2, 3, 4, 56], [1, 2, 3, 4, 55, 6])

In [42]:
d=a+b
print(d)

[1, 2, 3, 4, 56, 1, 2, 3, 4, 55, 6]

In [47]:
str=['ram', 'rahim', 'tamin','umashakar']
str.sort()
print(str)
str.reverse()
print(str)

['rahim', 'ram', 'tamin', 'umashakar']
['umashakar', 'tamin', 'ram', 'rahim']

In [48]:
a=['ram', 'rahim', 'tamin','umashakar']
b=['safar','low are', 'gouddu']
print(max(a))
print(min(a))
c=a+b
print(c)
d=[a,b]

umashakar
rahim

In [ ]:
a=(1,2,3,4)
b=(4,6,67,7,78)
c=a+b
k=[2,1,23,3,442,]
l=tuple(k)
print(l)
print(k)
print(c)
print(max(a))
print(min(a))
print(len(a))

In [56]:
#dictinary
myDic={1:'ram',2:'tummy',5:'golu'}
print(myDic)
myDic=

{1: 'ram', 2: 'tummy', 5: 'golu'}

if else st


    print("i am adult")
    elif a==18:
        print("i am 18")
        else:
            print(" ia am roboy")